<div class="col-7 ml-auto mr-auto mt-3 ">
    <form action="/restaurants" method="POST" style="width: 80%;" class="m-auto">
        <div>
            <label for="name">餐廳名稱</label>
            <input type="text" name="name" id="name" class="form-control" required>
        </div>
        <div class="mt-3">
            <label for="name_en">餐廳英文名稱</label>
            <input type="text" name="name_en" id="name_en" class="form-control">
        </div>
        <div class="mb-3 mt-3">
            <label for="category">料理種類</label>
            <input type="text" name="category" id="category" class="form-control" required>
        </div>
        <div class="mb-3 mt-3">
            <label for="image">照片</label>
            <input type="text" name="image" id="image" class="form-control" required>
        </div>
        <div class="mt-3">
            <label for="location">地址</label>
            <input type="text" name="location" id="location" class="form-control" required>
        </div>
        <div class="mt-3">
            <label for="phone">電話</label>
            <input type="text" name="phone" id="phone" class="form-control" required>
        </div>
        <div class="mt-3">
            <label for="google_map">google地圖</label>
            <input type="text" name="google_map" id="google_map" class="form-control" required>
        </div>
        <div class="mt-3">
            <label for="rating">評分</label>
            <input type="number" name="rating" id="rating" class="form-control" required>
        </div>
        <div class="mt-3">
            <label for="description">餐廳描述</label>
            <input type="text" name="description" id="description" class="form-control" required>
        </div>
        <div class="mt-3 mb-3">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>